
html{
    font-size: 12px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    overflow-x: hidden;
}

.hero-header {
    background-color:#1f2937;
    margin-top: -0.7rem;
    margin-left: -1rem;
    margin-right: -1rem;
    padding-bottom: 8rem;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-left: 6rem;
    margin-right: 6rem;
    padding: 1rem;

}


.header-logo {
    font-size: 2rem;
    color: #F9FAF8;
    font-weight: 600;
}

.nav-bar {
    width: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    column-gap: 1.5rem;
    
}

.main-nav-link {
    font-size: 1.5rem;
    color: #E5E7EB;
}

.section-hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 6rem;
    margin-right: 6rem;
    margin-top: 5rem;
}

.hero-text-box {
    width: 45rem;
    height: 25rem;
}

.hero-text {
    color: #F9FAF8;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 4rem;

}

.hero-subtext {
    color: #E5E7EB;
    font-size: 1.5rem;
}


.hero-image {
    width: 45rem;
    height: 25rem;
    overflow: hidden;
    justify-content: right;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-full {
    display: inline-block;
    background-color: #6c87ac;
    font-size: 1.5rem;
    color: #F9FAF8;
    font-weight: 600;
    text-decoration: none;
    padding: 0.5rem 2rem;
    border-radius: 0.8rem;
    transition: all 0.3s;
    margin-top: 1rem;
}

.btn-full:hover {
    background-color: #536d93;
}

.info-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.info-text {
    display: flex;
    font-size: 3rem;
    font-weight: 700;
    justify-content: center;
}

.info-image-box {
    display: flex;
    flex-direction: row;
    column-gap: 5rem;
    justify-content: center;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 4rem;
}

.info-image {
    width: 20rem;
    height: 20rem;
    overflow: hidden;
    justify-content: space-between;
    border-radius: 1rem;
}

.info-image img{
    width: 100%;
    height: 100%;
}

.quote-box{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    margin-top: 6rem;
    width: 100%;
    height: 20rem;
    margin-left: -2rem;
    background-color: #E5E7EB;
    padding-left: 30rem;
    padding-right: 20rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.quote-text{
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    font-style: italic;
    font-size: 3rem;
    font-weight: 300;
    color: #1f2937;
}

.quote-author{
    display: block;
    font-size: 2.5rem;
    font-weight: 400;
    width: 100%;
    margin-left: 70rem;
    margin-top: 2rem;
}

.cta-bar{
    width: 70%;
    height: 10rem;
    margin-left: 20rem;
    margin-top: 6rem;
    background-color: #536d93;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.cta-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    font-size: 2rem;
    font-weight: 400;
}

.cta-btn{
    width: 10rem;
    height: 3rem;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9FAF8;
    color: #536d93;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: .5rem;
}

.cta-btn:hover{
    background-color: #E5E7EB;
}

.footer{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    margin-top: 6rem;
    margin-left: -1rem;
    margin-right: -1rem;
    padding-right: 2rem;
    color: #E5E7EB;
    font-size: 1.2rem;
}